*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /* border: 1px solid red;  */
}
:root{
  --text-color:#fff;
  --second-text-color:#aaa;
  --main-color:#ff0923 ;
  --bg-color:#000;
  --second-bg-color:#282828;
}
i{
  transition: all .3s;
}
i:hover{
  color: var(--main-color);
}
#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear .5s;
}
html{
  font-size: 10px;
  font-family: Sans-Serif;
}
body{
  width: 100%;
  color: var(--text-color);
}
span{
  color: var(--main-color);
}
.Header{
  width: 100%;
  background-color: #ffffff00;
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  position: fixed;
  top: 1rem;
  left: 0;
  font-size:1.7rem;
}
.Header > nav{
  display: flex;
  gap: 5rem;
  
}
.Header > nav > *{
  transition: all .5s;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.Header > nav > *:hover{
  color: var(--main-color);
  
}
.Header > nav > .active{
  color: var(--main-color);
}
.Header > .Logo,.Header > .Logo > span{
  font-size: 3rem;
  font-weight: 700;
}
.btn{
  background-color: var(--main-color);
  padding: 8px 2rem;
  border-radius: 30px;
  transition: all .6s;
  font-size: 1.5rem;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid var(--main-color);
}
section{
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5rem 9%;
  font-size: 1.7rem;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.head,.head > span{
  font-size: 5rem;
  font-weight: 550;
}
.Home{
  height: 100vh;
  justify-content:space-between;
}
.Home > .H-Content{
  font-size: 2rem;
  line-height: 50px;
  letter-spacing: 1px;
}
.Home > .H-Content > h5{
  color: var(--second-text-color);
}
.Home > .H-Content > h4{
  margin-top: 10px;
}
.Home > .H-Content > .input-box{
  margin-top: 30px;
  width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  background: var(--text-color);
  padding: 1px;
  margin-left: -1rem;
}
.Home > .H-Content > .input-box > input:nth-child(1){
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
}.Home > .H-Content > .input-box > input:nth-child(2){
  font-size: 2rem;
  color: var(--text-color);
}
.Home > .H-Image{
  width: 50%;
}
/* =============About============ */
.About{
  justify-content:space-between;
  padding-top: 5%;
  word-spacing: .1rem;
  letter-spacing: 1px;
  background: var(--second-bg-color);
  gap: 3rem;
}
.About > .Content{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.About > .Content > .btn{
  width:20rem;
  text-align: center;
  margin-top: 1vh;
  color: #fff;
}
.Image{
  box-shadow: 0 0 3rem var(--bg-color),0 0 3rem var(--bg-color);
}

/* ==============Service============= */
.Service{
  justify-content:center;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2%;
  height: 100vh;
}
.Service > .Content{
  display: flex;
  gap: 6rem;
}
.Service > .Content > .Service-box{
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--second-bg-color);
  border-radius: 5px;
}
.Service > .Content > .Service-box > p{
  text-align: center;
  color: var(--second-text-color);
}
/* ============= Skill ================*/
.Skill{
  justify-content:center;
  height: auto;
  background: var(--second-bg-color);
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
}
/* ============Footar============= */
.Footar{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}
.Footar > .Content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 3rem;
}
.Footar > .Content > p{
  text-align: center;
  color: var(--second-text-color);
}
.Footar > .Content > .Social-Link{
  display: flex;
  gap: 2rem;
}
.Footar > .Content > .Social-Link *{
  color: var(--text-color);
}
/* =======Contect Us = Pase ======== */
.Contact{
  justify-content: center;
}
.Contact > #myFrom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}
.Contact > #myFrom > h1{
  font-size: 5rem;

}
.Contact > #myFrom .txtBox{
  display: flex;
  gap: 1rem;
}
.Contact > #myFrom .txtBox input{
  padding: 1rem;
  border-radius: 5px;
}
.Contact > #myFrom .txtBox textarea{
  border-radius: 5px;
  resize: none;
  padding: 1rem;
}
.Contact > #myFrom .btn{
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}